.bodyStyle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
}

.stylePage{
    border: 1px solid black;
    width: 40%;
    margin-left: 100px;
}

.stylePage2{
    border: 1px solid black;
    width: 40%;
    height: 200px;
    margin-left: 100px;
}

.container{
    display: flex;
    height: 725px;
}