.Parcours{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 2600px;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Photo1{
    height: 300px;
    width: 500px;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
}

.Texte1{
    text-align: center;
    height: 25%;
    width: 550px;
    margin-top: 35px;
}

.Photo2{
    height: 350px;
    width: 700px;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
}

.Texte2{
    text-align: center;
    height: 25%;
    width: 550px;
    margin-top: 55px;
}



.PhotoA{
    height: 300px;
    width: 500px;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
}

.TexteA{
    text-align: center;
    height: 25%;
    width: 550px;
    margin-top: 35px;
}

.PhotoB{
    height: 350px;
    width: 700px;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
}

.TexteB{
    text-align: center;
    height: 25%;
    width: 550px;
    margin-top: 55px;
}
.PhotoC{
    height: 300px;
    width: 500px;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
}

.TexteC{
    text-align: center;
    height: 25%;
    width: 550px;
    margin-top: 35px;
}

.PhotoD{
    height: 350px;
    width: 700px;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
}

.TexteD{
    text-align: center;
    height: 25%;
    width: 550px;
    margin-top: 55px;
}



.Photo3{
    height: 210px;
    width: 450px;
    margin-top: 30px;
    border-radius: 10px 10px 10px 10px;
}

.Texte3{
    text-align: center;
    height: 25%;
    width: 550px;
    margin-top: 25px;
    margin-bottom: 20px;
}
